*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-dark .navbar-brand{
    color: rgba(31, 224, 224, 0.911)!important;
}
.navbar-toggler{
    border: none!important;
}
.navbar-toggler-icon{
    border: none!important;
}
.dropdown-item{
    color: white!important;
}
.dropdown-menu{
    background-color: rgba(0,0,0,0.7);
}
.dropdown-item:hover{
    background-color: rgba(0,0,0,0.7)!important;
}
.container-fluid{
    padding-top: 8px!important;
}
.btn a{
    color: aqua!important;
    text-decoration: none!important;
}


@media (max-width: 430px){
    .notice{
        font-size: 0.7rem!important;
    }
}